@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,300i,400i,600i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=cyrillic');

body {
	margin: 0;
	padding: 0;
	max-width: 1920px;
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	text-transform: uppercase;
	color: #000;
}
section, div, p, h1, h2, h3, h4, img, ul, li, input, button {
	margin: 0;
	padding: 0;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.b-mark {
	color: #bb1d1f;
	background: transparent;
	font-weight: bold;
}
.b-container {
	max-width: 960px;
	margin: 0 auto;
}
.b-header-wrapper {
	box-sizing: border-box;
	height: 731px;
	padding-top: 21px;
	background-color: #94b4d7;
	background-image: url(../img/header_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.b-header__logo-wrapper {
	position: relative;
	display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.b-logo {
	text-decoration: none;
}
.b-header .b-logo {
	padding-top: 10px;
	margin-right: 33px;
}
.b-logo__picture {
	width: 428px;
	height: 87px;
}
.b-header .b-call-number {
	box-sizing: border-box;
	width: 479px;
	padding-top: 10px;
	padding-left: 10px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	text-align: right;
}
.b-call-number::before {
	content: ''; 
	border: 14px solid transparent;
	border-right: 14px solid rgba(255, 255, 255, 0.8);
	position: absolute;
    top: 75px;
    left: 433px;
}
.b-call-number__text,
.b-call-number__around,
.b-call-number__tel {
	display: block;
	margin-right: 19px;
}
.b-call-number__text {
	text-transform: none;
	color: #000;
	line-height: 46px;
}
.b-call-number__around {
	letter-spacing: 0.1rem;
    line-height: 41px;
}

.b-call-number__tel {
	font-size: 48px;
	line-height: 71px;
    margin-bottom: 11px;
}
.b-call-number__tel-a {
	color: #000;
	text-decoration-style: dashed;
}
.b-return-call {
	padding-top: 40px;
}
.b-return-wrapper {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
	margin-bottom: 10px;
}
.b-return-call__text {
	display: block;
	box-sizing: border-box;
	height: 48px;
	padding-left: 16px;
	margin-bottom: 12px;
	background-color: #fff;
	font-family: "Open Sans";
	font-weight: 300;
	letter-spacing: -0.35px;
	line-height: 48px;
}
.b-return-call__text:first-child {
	width: 324px;
}
.b-return-call__text:nth-child(2) {
	width: 554px;
}
.b-return-call__text:last-child {
	width: 701px;
	margin-bottom: 0;
}
.b-return-call__mark {
	font-weight: 600;
}
.b-call-wrapper {
	padding-top: 42px;
}
.b-call-form__input-wrapper { position: relative; }
.b-call-form__input {
	box-sizing: border-box;
	width: 480px;
	height: 45px;
	padding: 0;
	margin: 0;
	margin-bottom: 35px;
	border: 0;
	border-bottom: 2px solid #000;
	background: transparent;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
    text-transform: uppercase;
}
.b-call-form__input-wrapper::before {
	content: "*";
	color: #bb1d1f;
	font-size: 40px;
    font-weight: 600;
    position: absolute;
    top: -6px;
    left: 5.5px;
    line-height: 54px;
}
.b-call-form input[placeholder] {
	font-size: 36px;
	font-weight: inherit;
	vertical-align: bottom;
	padding-left: 34px;
    letter-spacing: -0.3px;
}
.b-call-form input:focus::before { display: none; }

.b-call-form__input-wrapper input::-webkit-input-placeholder  { color: #000; font-weight: 100; }
.b-call-form__input-wrapper input::-moz-placeholder  { color: #000; }
.b-call-form__input-wrapper input:-moz-placeholder  { color: #000; }
.b-call-form__input-wrapper input:-ms-input-placeholder  { color: #000; }

.b-call-form__input-wrapper input:focus::-webkit-input-placeholder { color: transparent; }
.b-call-form__input-wrapper input:focus::-moz-placeholder { color: transparent; }
.b-call-form__input-wrapper input:focus:-moz-placeholder { color: transparent; }
.b-call-form__input-wrapper input:focus:-ms-input-placeholder { color: transparent; }

.b-call-form__button {
	width: 277px;
	height: 46px;
	border: 0;
	border-radius: 5px;
	background-color:  #bb1d1f;
	box-shadow: 1px 3px 5px 0px #000;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
}
.b-page-main {
	background-color: #fff;
	font-size: 16px;
	font-weight: 600;
}
.b-page-main__headline {
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	font-weight: 300;
	letter-spacing: -0.5px;
}
.b-our-work {
	box-sizing: border-box;
	height: 544px;
	padding-top: 42px;
	background-color: #fff;
}
.b-our-work-items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	padding-top: 59px;
}
.b-our-work__item {
	width: auto;
	height: 170px;
	margin-right: 0;
}
.b-our-work__item:nth-child(3n) { margin-right: 0; }
.b-our-work__img {
	display: inline-block;
	width: 137px;
	height: 137px;
	margin-right: 5px;
	vertical-align: middle;
}
.b-our-work__text {
	display: inline-block;
	width: 145px;
	vertical-align: middle;
	overflow-wrap: wrap;
	line-height: 20px;
}
.b-our-features {
	box-sizing: border-box;
	height: 510px;
	background-color: #f7f7f7;
	padding-top: 52px;
}
.b-our-features__list {
	list-style: none;
	font-size: 24px;
	font-weight: 600;
	padding-top: 66px;
	margin-bottom: 25px;
	letter-spacing: -0.6px;
}
.b-our-features__list-item {
	padding-left: 36px;
	margin-bottom: 39px;
}
.b-our-features__list-item:last-child { margin-bottom: 0; }
.b-our-features__list-item::before {
	content: "";
	display: inline-block;
	width: 32px;
	height: 23px;
	margin-right: 32px;
	background: url(../img/check-icon.png) no-repeat;
}
.b-questions {
	background-color: #fff;
	padding-top: 100px;
	margin-bottom: 95px;
}
.b-questions-wrapper {
	padding-top: 3px;
	padding-left: 60px;
} 
.b-questions-questions__headline-wrapper {
	padding-left: 95px;
	margin-bottom: 28px;
}
.b-questions__headline {
	font-size: 28px;
	font-weight: 300;
	line-height: 34px;
	letter-spacing: -0.28px;
}
.b-questions__text-wrapper {	
	box-sizing: border-box;
	border-width: 3px;
	border-color:  #ff9c00;
	border-style: solid;
	border-radius: 10px;
	width: 840px;
	padding-top: 19px;
	position: relative;
}
.b-questions__text-wrapper::before {
	content: "!";
	font-family: Open Sans, sans-serif;
	font-size: 260px;
	font-weight: 600;
	color: #000;
	position: absolute;
	top: -210px;
	left: 12px;
}
.b-questions__text {
	text-align: center;
	text-transform: none;
	line-height: 19px;
}
.b-text-italic {
	font-family: "Open Sans";
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
	margin-bottom: 36px;
	line-height: 21px;
}
.b-questions .b-text-italic::after {
	content: "";
	display: block;
	width: 110px;
	height: 3px;
	background-color:  #000;
	position: absolute;
	top: 77px;
    left: 372px;
}
.b-text-bold {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 20px;
}
.b-questions__text:last-child{
	margin-bottom: 21px;
    line-height: 19px;
}
.b-call-us {
	background-color:  #bb1d1f;
	min-height: 150px;
	padding-top: 30px;
}
.b-call-us__headline {
	font-family: Open Sans, sans-serif;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: -0.24px;
    line-height: 32px;
	text-transform: none;
	text-align: center;
	color:  #fff;
}
.b-call-us__form {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

.b-call-us__form input {
	border: 0;
	width: 329px;
    height: 40px;
    padding-left: 12px;
    margin-right: 19px;
	background-color:  #fff;
}
.b-call-us__form input[type="tel"] { 
	width: 328px;
	margin-right: 20px;
}
.b-call-us__button {
	width: 240px;
	height: 40px;
	margin: 0;
	border: 2px solid #fff;
	font-family: Open Sans, sans-serif;
	font-size: 19px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	background-color: transparent;
	cursor: pointer;
}
.b-call-us__form input[placeholder] {
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 300;
}
.b-call-us__form input::-webkit-input-placeholder  { color: #000; }
.b-call-us__form input::-moz-placeholder  { color: #000; }
.b-call-us__form input:-moz-placeholder  { color: #000; }
.b-call-us__form input:-ms-input-placeholder  { color: #000; }

.b-call-us__form input:focus::-webkit-input-placeholder { color: transparent; }
.b-call-us__form input:focus::-moz-placeholder { color: transparent; }
.b-call-us__form input:focus:-moz-placeholder { color: transparent; }
.b-call-us__form input:focus:-ms-input-placeholder { color: transparent; }

.b-footer {
	box-sizing: border-box;
	height: 158px;
	padding-top: 42px;
	background-color: #fff;
}
.b-footer-wrapper::after {
	content: "";
	clear: both;
	display: table;
}
.b-logo-text-wrapper,
.b-footer__creator {
	display: inline-block;
}

.b-logo-text-wrapper {
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 21px;
	font-weight: 700;
	text-transform: none;
}
.b-footer__logo,
.b-footer__tel {
	display: inline-block;
	vertical-align: middle;
}
.b-footer__logo {
	margin-right: 10px;
}
.b-footer__tel {
    font-size: 22px;
}
.b-footer__tel-link {
	color: #000;
	text-decoration: underline;
	text-decoration-style: dashed;
}
.b-footer__text {
	white-space: nowrap;
	line-height: 18px;
}
.b-creator {
	float: right;
	position: relative;
	padding-top: 2px;
}
.b-creator__text {
	font-family: Open Sans;
	font-size: 14px;
	font-weight: 300;
	text-transform: none;
	color:  #9b9b9b;
	position: absolute;
	top: 34px;
}